[Unit]
Description=AI Tomato Sorter
After=network.target

[Service]
Type=simple
User=okidi6
WorkingDirectory=/home/okidi6/Documents/GitHub/emebeded
ExecStart=/home/okidi6/Documents/GitHub/emebeded/tomato_sorter_env/bin/python web_interface.py
Restart=always
RestartSec=10
Environment=PATH=/home/okidi6/Documents/GitHub/emebeded/tomato_sorter_env/bin

[Install]
WantedBy=multi-user.target
